{% extends '_base.html' %}

{% block content %}

<!-- <div class="row image col-sm-12 ">
    <img src="assets/bg-image.png" class="img-responsive">
</div> -->
<div class="container-fluid first">
    <div class="row col-sm-12 header">
        <div class="header-text">
            <h1 class="text-left">{{ DOC.title }}</h1>
            <h3 class="text-left">{{ DOC.subhed }}</h3>
            <p class="byline text-left">Reported by {{ DOC.byline }}</p>
            <p class="byline text-left">Photo illustrations by Paula Friedrich</p>
            <p class="byline">published {{ COPY.content.pubdate }}<p>
        </div>
    </div>
</div>
<div class="container main-text">
    <div class="row col-sm-12 plow-container">
<!--         <img class="snowplow center-block" src="assets/noun_plow.svg"/>
 -->    </div>
    <div class="row">
        {% for row in DOC.text_list %}
            {% set loop_first = loop.first %}
            {% include "%s.html" % (row.template) ignore missing %}
        {% endfor %}
    </div>
</div>

{% endblock %}